/* Home */
body {
    background-color: #0a99ee;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Nav */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #785AFA;
    padding: 28px;
    position: relative;
}

.navbar .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .logo img {
    height: 144px;
}

.navbar .navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.navbar-nav .nav-link {
    color: white;
    padding: 25px 23px;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.navbar .instagram-icon {
    margin-right: 290px;
    color: white;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.fa-brands.fa-instagram {
    font-size: 25px;
}

.btn_user {
    background-color: #785AFA;
    --bs-btn-color: #ffffff !important;
}

.dropdown-item {
    cursor: pointer;
}

/* Noticia Principal */
.menu_principal {
    display: flex;
    margin: 130px 0;
    justify-content: space-between;
    align-items: center;
}

.titulo_principal {
    padding: 46px;
    background-color: white;
    text-align: left;
    width: 600px;
    height: 440px;
    max-width: 600px;
}

.titulo_principal h2,
.titulo_principal p {
    color: black;
}

.imagem_principal {
    display: flex;
    justify-content: center;
}

.padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.img-fluid {
    cursor: pointer;
    max-width: 100%;
    width: 100%;
    height: 330px;
}

.title_image {
    width: 370px;
    padding: 8px 28px;
    border-radius: 0px 0px 15px 15px;
    background-color: white;
}

.img_principal {
    padding-left: 0 !important;
    width: 60px;
    border-radius: 15px 0px 0px 0px;
}

.box {
    border-radius: 15px;
    width: 370px;
    max-width: 370px;
    /* Tamanho fixo para a largura */
    -webkit-box-shadow: -8px 16px 154px 12px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: -8px 16px 154px 12px rgba(0, 0, 0, 0.51);
    box-shadow: -8px 16px 154px 12px rgba(0, 0, 0, 0.51);
}


h6 br {
    display: none;
}


/* + Noticias  */
.noticias {
    margin: 0 2.7%;
}

.noticias h1 {
    color: #785AFA;
}

.imagem_col img {
    width: 295px;
    height: 255px;
    border-radius: 15px;
    cursor: pointer;
}

.background {
    border-radius: 15px;
    background-color: white;
}

.card-img-top {
    width: 304px;
    height: 239px;
    border-radius: 8px;
}

.text-break {
    word-break: break-word;
    overflow-wrap: break-word;
}

p {
    word-break: break-word;
    overflow-wrap: break-word;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 52px;
}

.form-inline {
    display: flex;
    align-items: center;
}

.form-inline .form-control {
    margin-right: 10px;
}

/* Visualizar Noticia */
.view_notice {
    width: 50%;
}

.home_principal_noticia {
    display: flex;
    margin-top: 136px;
    justify-content: space-between;
    align-items: flex-start;
}

.imagem_principal_noticia {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.titulo_principal_noticia {
    padding: 46px;
    background-color: white;
    text-align: left;
    width: 600px;
    height: auto;
    max-width: 600px;
}

.title h1 {
    font-size: 45px
}

.sub_title h5 {
    font-size: 20px
}

/* Video Player */
.contentMenu {
    align-items: center;
    display: flex;
    cursor: pointer;
}

.menu {
    z-index: 1;
    position: absolute;
    background: #232323 !important;
    border-radius: 10px !important;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important; */
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    padding: 0.3rem 2rem;
    transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;
    /* opacity: 0; */
    visibility: hidden;
    top: calc(-375% + 10px);
    /* left: 50%; */
    transform: translateX(-50%);
    display: grid;
    text-align: center;
    justify-content: center;
}

.show-menu {
    opacity: 1;
    visibility: visible;
    display: grid;
    text-align: center;
    justify-content: center;
}

.item {
    cursor: pointer;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-size: 10px;
}

@media (max-width: 1081px) {
    .title h1 {
        font-size: 40px;
    }

    .sub-title h5 {
        font-size: 15px;
    }

    .my-video-1-dimensions {
        width: 460px;
        height: 286.375px;
    }
}

@media (max-width: 1060px) {
    .navbar .logo {
        position: absolute;
        left: 20%;
        transform: translateX(0%);
    }
}

@media (max-width: 1400px) {
    .card-img-top {
        width: 259px;
        height: 239px;
    }

    .navbar .instagram-icon {
        margin-right: 100px;
        color: white;
    }
}

@media (max-width: 1200px) {
    .card-img-top {
        width: 214px;
        height: 171px;
    }
}

@media (max-width: 1042px) {
    .imagem_principal img {
        border-radius: 15px;
        margin: 0 10px;
        cursor: pointer;
    }

    .sub-title h5 {
        font-size: 21px;
    }
}

@media (max-width: 991px) {
    .view_notice {
        width: 70%;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 32% !important;
    }

    .card-img-top {
        width: 204px;
        height: 140px;
    }
}

@media (max-width: 970px) {
    .my-video-1-dimensions {
        width: 400px;
        height: 270px;
    }
}

@media (max-width: 850px) {
    .navbar .logo {
        position: absolute;
        left: 5%;
        transform: translateX(0%);
    }

    .navbar .instagram-icon {
        margin-right: 10px;
        color: white;
    }
}

@media (max-width: 801px) {
    .title h1 {
        font-size: 30px;
    }

    .sub-title h5 {
        font-size: 13px;
    }
}


@media (max-width: 768px) {
    .col-md-3 {
        flex: 0 0 auto;
        width: 50% !important;
    }

    .col-6 {
        flex: 0 0 auto;
        width: 0% !important;
    }

    .card-img-top {
        width: 244px;
        height: 249px;
    }

    .imagem_principal img {
        display: none;
    }

    .titulo_principal {
        width: 100%;
    }

    .navbar .instagram-icon {
        margin-right: 0px;
        color: white;
    }

    .title h1 {
        font-size: 26px;
    }
}

@media (max-width: 700px) {
    .my-video-1-dimensions {
        width: 340px;
        height: 200px;
    }
}

@media (max-width: 557px) {
    .view_notice {
        width: 90%;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 80% !important;
    }

    .card-img-top {
        width: 100%;
        height: 292px;
    }

    .row {
        justify-content: center !important;
    }

    .navbar-nav .nav-link {
        color: white;
        padding: 25px 0px;
        text-decoration: none;
    }

    .my-video-1-dimensions {
        width: 280px;
        height: 170px;
    }
}



.slider-container {
    position: relative;
    max-width: 800px;
    /* Ajuste conforme necessário */
    margin: auto;
}

.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.slide {
    flex: 0 0 auto;
    width: 100%;
    transition: transform 0.5s ease;
}

.slide img {
    width: 100%;
    height: auto;
}

.slider-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.slider-controls button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
}