body {
    background-color: #785AFA;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Nav */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #785AFA;
    padding: 28px;
    position: relative;
}

.navbar .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .logo img {
    height: 200px;
}

.navbar .navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.navbar-nav .nav-link {
    color: white;
    padding: 25px 23px;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.navbar .instagram-icon {
    margin-right: 290px;
    color: white;
}

.fa-brands.fa-instagram {
    font-size: 25px;
}

/* Noticia Principal */
/* .container {
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: center;
} */

.titulo_principal {
    flex: 1;
    text-align: left;
}

.titulo_principal p {
    padding-top: 30px;
}

.imagem_principal img {
    border-radius: 15px;
    margin: 0 65px;
    cursor: pointer;
}

/* + Noticias  */
.noticias {
    margin-top: 125px;
}

.imagem_col img {
    width: 295px;
    height: 255px;
    border-radius: 15px;
    cursor: pointer;
}

.background {
    background-color: white;
}

.card-img-top {
    width: 304px;
    height: 239px;
    border-radius: 8px;
}

.text-break {
    word-break: break-word;
    overflow-wrap: break-word;
}

p {
    word-break: break-word;
    overflow-wrap: break-word;
}

@media (max-width: 1400px) {
    .card-img-top {
        width: 259px;
        height: 239px;
    }
}

@media (max-width: 1200px) {
    .card-img-top {
        width: 214px;
        height: 171px;
    }
}

@media (max-width: 1042px) {
    .imagem_principal img {
        border-radius: 15px;
        margin: 0 10px;
        cursor: pointer;
    }
}

@media (max-width: 991px) {
    .col-md-3 {
        flex: 0 0 auto;
        width: 32% !important;
    }

    .card-img-top {
        width: 204px;
        height: 140px;
    }
}

@media (max-width: 768px) {
    .col-md-3 {
        flex: 0 0 auto;
        width: 50% !important;
    }

    .col-6 {
        flex: 0 0 auto;
        width: 0% !important;
    }

    .card-img-top {
        width: 244px;
        height: 249px;
    }

    .imagem_principal img {
        display: none;
    }

    .titulo_principal {
        width: 100%;
    }
}

@media (max-width: 557px) {
    .col-md-3 {
        flex: 0 0 auto;
        width: 80% !important;
    }

    .card-img-top {
        width: 100%;
        height: 292px;
    }

    .row {
        justify-content: center !important;
    }
}